<%- include('layouts/header.ejs') %>

<title>Homepage</title>
</head>

<body>
  <%- include('layouts/nav.ejs') %>

  <!--Wall with Post -->
  <div class="content-posts active" id="posts">
    <div class="primary-content">
      <div id="posts-container" class="container-fluid container-posts">
        <div class="row text-right">
          <a class="btn" role="button">Gần nhất <i class="fa fa-clock-o" style="color: #ff2600"></i></a> |
          <a class="btn" role="button">Nổi bật <i class="fa fa-arrow-up" style="color: #7FFF00"></i></a>
        </div>

        <!-- List all posts -->
        <% posts.forEach(function(post){ %>
        <div class="card-post">
          <div class="row">
            <div class="col-xs-3 col-sm-2">
              <a href="/profile" title="Profile">
                <img src="img/user.jpg" alt="User name" class="img-circle img-user">
              </a>
            </div>
            <div class="col-xs-9 col-sm-10 info-user">
              <h3><a href="/profile" role="button" title="Profile"><%= post.owner %></a></h3>
              <p><i><%= post.time %></i></p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-8 col-sm-offset-2 data-post">
              <p><%= post.content %></p>
              <img src="<%= post.image %>" width="500">
              <div class="reaction">
                <a class="btn" role="button"><i class="fa fa-arrow-up" style="color: #7FFF00"></i>
                  <%= post.upvotes %></a>
                <a class="btn" role="button"><i class="fa fa-comments"></i> <%= post.comments.length %></a>
                <a class="btn" role="button"><i class="fa fa-share"></i></a>
              </div>
              <div class="comments">
                <div class="more-comments">Bình luận</div>
                <ul>
                  <li><a role="button"><b><%= post.comments[0].owner %></b></a> <%= post.comments[0].content %></li>
                  <li><a role="button"><b><%= post.comments[1].owner %></b></a> <%= post.comments[1].content %></li>
                </ul>
                <form>
                  <input type="text" class="form-control" placeholder="Viết bình luận">
                  <input type="submit" class="form-control btn" value="Gửi">
                </form>
              </div>
            </div>
          </div>
        </div>
        <% }); %>

        <div class="card-post">
          <div class="row">
            <div class="col-xs-3 col-sm-2">
              <a href="/user" title="User Profile">
                <img src="img/user2.jpg" alt="User name" class="img-circle img-user">
              </a>
            </div>
            <div class="col-xs-9 col-sm-10 info-user">
              <h3><a href="/user" role="button" title="User Profile">Khánh</a></h3>
              <p><i>05/06/2020</i></p>
            </div>
          </div>
          <div class="row">
            <div class=" col-sm-8 col-sm-offset-2 data-post">
              <p>Cái gì thế nhỉ</p>
              <img src="img/post.jpg" alt="image post" class="img-post">
              <div class="reaction">
                <a class="btn" role="button"><i class="fa fa-arrow-up" style="color: #7FFF00"></i>
                  500</a>
                <a class="btn" role="button"><i class="fa fa-comments"></i> 1</a>
                <a class="btn" role="button"><i class="fa fa-share"></i></a>
              </div>
              <div class="comments">
                <div class="more-comments">Bình luận</div>
                <ul>
                  <li><b>Phong</b> Wow!</li>
                </ul>
                <form>
                  <input type="text" class="form-control" placeholder="Viết bình luận">
                  <input type="submit" class="form-control btn" value="Gửi">
                </form>
              </div>
            </div>
          </div>
        </div>

        <div class="card-post">
          <div class="row">
            <div class="col-xs-3 col-sm-2">
              <a href="/profile" title="User Profile">
                <img src="img/user.jpg" alt="User name" class="img-circle img-user">
              </a>
            </div>
            <div class="col-xs-9 col-sm-10 info-user">
              <h3><a href="/profile" role="button" title="User Profile">Phong</a></h3>
              <p><i>01/06/2020</i></p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-8 col-sm-offset-2 data-post">
              <p>Úi giời ơi</p>
              <video controls>
                <source src="img/post-video.mp4" type="video/mp4">
                Your browser does not support the video tag.
              </video>
              <div class="reaction">
                <a class="btn" role="button"><i class="fa fa-arrow-up" style="color: #7FFF00"></i>
                  10</a>
                <a class="btn" role="button"><i class="fa fa-comments"></i> 3</a>
                <a class="btn" role="button"><i class="fa fa-share"></i></a>
              </div>
              <div class="comments">
                <div class="more-comments">Bình luận</div>
                <ul>                  
                  <li><b>Tâm</b> Nice &#x1F602;</li>
                  <li><b>Phong</b> Dễ vãi l.</li>
                  <li><b>Hoàng</b> Meow</li>
                </ul>
                <form>
                  <input type="text" class="form-control" placeholder="Viết bình luận">
                  <input type="submit" class="form-control btn" value="Gửi">
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!--Close #posts-container-->
    <div class="sidebar-right hidden-xs hidden-sm">
      <div class="card-post">
        <div class="row">
          <div class="col-sm-12">
            <p><i>Bạn có thể thích</i></p>
            <h3><a href="#" title="Company">Mua 1 tặng 100!!</a></h3>
            <img src="img/company.jpg" alt="Suggested post">
          </div>
        </div>
      </div>
      <div class="card-post">
        <div class="row">
          <div class="col-sm-12">
            <h3>Người dùng nổi bật</h3>
          </div>
          <div class="col-xs-3 popular-img">
            <a href="#">
              <img src="img/user.jpg" alt="User name" class="img-circle">
            </a>
          </div>
          <div class="col-xs-3 popular-img">
            <a href="#">
              <img src="img/user2.jpg" alt="User name" class="img-circle">
            </a>
          </div>
          <div class="col-xs-3 popular-img">
            <a href="#">
              <img src="img/user3.jpg" alt="User name" class="img-circle">
            </a>
          </div>
          <div class="col-xs-3 popular-img">
            <a href="#">
              <img src="img/user4.jpg" alt="User name" class="img-circle">
            </a>
          </div>
          <div class="col-xs-3 popular-img">
            <a href="#">
              <img src="img/user5.jpg" alt="User name" class="img-circle">
            </a>
          </div>
          <div class="col-xs-3 popular-img">
            <a href="#">
              <img src="img/user6.jpg" alt="User name" class="img-circle">
            </a>
          </div>
          <div class="col-xs-3 popular-img">
            <a href="#">
              <img src="img/user7.jpg" alt="User name" class="img-circle">
            </a>
          </div>
          <div class="col-xs-3 popular-img">
            <a href="#">
              <img src="img/user8.jpg" alt="User name" class="img-circle">
            </a>
          </div>
        </div>
      </div>
      <div class="card-post">
        <div class="row">
          <div class="col-sm-12">
            <h3>Những bức ảnh được yêu thích nhất</h3>
          </div>
          <div class="col-xs-4 popular-img">
            <a href="#">
              <img src="img/photo1.jpg" alt="User name">
            </a>
          </div>
          <div class="col-xs-4 popular-img">
            <a href="#">
              <img src="img/photo2.jpg" alt="User name">
            </a>
          </div>
          <div class="col-xs-4 popular-img">
            <a href="#">
              <img src="img/photo3.jpg" alt="User name">
            </a>
          </div>
          <div class="col-xs-4 popular-img">
            <a href="#">
              <img src="img/photo4.jpg" alt="User name">
            </a>
          </div>
          <div class="col-xs-4 popular-img">
            <a href="#">
              <img src="img/photo5.jpg" alt="User name">
            </a>
          </div>
          <div class="col-xs-4 popular-img">
            <a href="#">
              <img src="img/photo6.jpg" alt="User name">
            </a>
          </div>
          <div class="col-xs-4 popular-img">
            <a href="#">
              <img src="img/photo7.jpg" alt="User name">
            </a>
          </div>
          <div class="col-xs-4 popular-img">
            <a href="#">
              <img src="img/photo8.jpg" alt="User name">
            </a>
          </div>
          <div class="col-xs-4 popular-img">
            <a href="#">
              <img src="img/photo9.jpg" alt="User name">
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div id="loading">
    <img src="img/load.gif" alt="loader">
  </div>
  </div><!-- Close #posts -->

  <!-- Modal container for settings--->
  <div id="settingsmodal" class="modal fade text-center">
    <div class="modal-dialog">
      <div class="modal-content">
      </div>
    </div>
  </div>

  <%- include('layouts/footer.ejs') %>